body {
    margin: 0;
    background-color: #F5F5F5;
}

.container {
    max-width: 1180px;
    margin: auto;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    top: 0;
    padding: 10px;
}

.info .title {
    float: left;
    width: 60%;
}

.info .action_to_login {
    width: 40%;
    float: right;
    line-height: 60px;
    text-align: right;
    margin-right: 30px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

/* Cards */
.card-img-placeholder {
    background-color: #d6d6d6;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-weight: bold;
    font-size: 1.2rem;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.status-disponivel {
    color: #198754;
    font-weight: 600;
}
